.desktop-nav-menu {
  height: 100%;
  width: 2.5vw;
  position: fixed;
  top: 0;
  right: 0;
  background-color: #2a3344;
  overflow-x: hidden;
  transition: 0.7s;
  transition-delay: 0.2s;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 70px;
  z-index: 99999;
}

.desktop-nav-menu:hover {
  width: 20vw;
  -webkit-box-shadow: -15px 0px 108px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -15px 0px 108px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -15px 0px 108px 0px rgba(0, 0, 0, 0.75);
  transition-delay: 0.3s;
}

.desktop-nav-menu:hover .blink:after {
  background: #f98e01;
  animation: 0s ease-out infinite;
}

.desktop-nav-menu:hover .desktop-nav-menu-logo,
.desktop-nav-menu:hover .prograss-overlay-wrapper,
.desktop-nav-menu:hover .side-icon-wrapper {
  opacity: 0;
  transition: opacity 0.3s;
  transition-delay: 0s !important;
}

.desktop-nav-menu:hover .desktop-expanded {
  opacity: 1;
  transition: opacity 0.3s;
  transition-delay: 0.3s !important;
}

.desktop-nav-menu .desktop-nav-menu-logo {
  white-space: nowrap;
  font-size: 20px;
  transition: 0.2s;
  transition-delay: 0.85s !important;
  transform-origin: center;
  transform: rotate(90deg);
  z-index: 10;
}

.breathing-light {
  height: 10px;
  width: 10px;
  position: fixed;
  right: 0.9125vw;
  border-radius: 50%;
  z-index: 29;
}

.blink {
  background: transparent;
  z-index: 29;
}
.blink:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: 0.5s ease-in-out;
  border-radius: 50%;
  background: #36dc54;
  animation: blink 2s ease-out infinite;
  z-index: 29;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  20% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}

.desktop-nav-menu .prograss-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #13161d;
  opacity: 0.7;
  z-index: 5;
}

.desktop-nav-menu .prograss-overlay-wrapper {
  transition: 0.2s;
  transition-delay: 0.85s !important;
}

.desktop-nav-menu .side-icon-wrapper {
  height: 5vw;
  width: 1.1px;
  display: flex;
  flex-direction: column;
  transition: 0.2s;
  transition-delay: 0.85s !important;
}

.side-icon-vertical-line {
  flex: 0.4;
  background-color: #fff;
  z-index: 10;
}

.side-icon-icon-wrapper {
  flex: 0.2;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sideIconDesktopNav {
  z-index: 5;
  color: white;
  display: block;
}

.desktop-expanded {
  z-index: 19;
  top: 0;
  opacity: 0;
  transition: 0.3s;
}

.desktop-expanded a:hover {
  color: rgb(179, 179, 179);
  transition: 0.15s;
}

.stars {
  height: 0.3vw;
  width: 0.3vw;
  position: absolute;
  top: 50.4vw;
  left: 5vw;
  border-radius: 50%;
  z-index: 5;
}

.frontLeftPic .blink:after {
  background: #fff;
}

.skills-grid {
  height: 7vw;
}

.my-skill {
  width: 7vw;
  transition: 0.3s;
}

.skills-svg {
  flex: 0.7;
}

.skills-name {
  flex: 0.3;
  font-size: 1vw;
}

.intro-description {
  line-height: 3.2vw;
  z-index: 999;
}

.pics-summary {
  height: 200px;
}

.summary-canary-logo {
  content: url("./Assets/canary.svg");
  transition: 0.3s;
}

.nasdaq-logo {
  content: url("./Assets/NASDAQ_Logo_black.svg");
  transition: 0.3s;
}

/* --------------------------------------- */

.main {
  transition: 0.5s;
}

.gap {
  width: 100%;
  height: 3vw;
}

.gap-small {
  width: 100%;
  height: 1vw;
}

.s1 {
  /* scroll-snap-align: start; */
  transition: 0.3s;
}

.s2 {
  /* scroll-snap-align: start; */
  margin-left: 16.825%;
  margin-right: 16.825%;
  margin-bottom: 10vw;
  color: #212121;
  margin-bottom: 10vw;
}

.s3 {
  /* scroll-snap-align: start; */
  height: 100vh;
  background-image: url("./Assets/sfondo-astratto-colorato-con-elementi-di-memphis/copyForWebsite-01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 0%;
  -webkit-box-shadow: 0px -11px 55px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -11px 55px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -11px 55px -15px rgba(0, 0, 0, 0.75);
  transition: 0.3s;
}

.big-title {
  padding-top: 6vw;
  font-size: 2vw;
}

.medium-title {
  padding-top: 5vw;
  font-size: 1.6vw;
}

.job-title {
  font-size: 1.6vw;
}

.school-title {
  font-size: 1.5vw;
}

.school-small-text {
  font-size: 1.2vw;
}

.date-range {
  padding-top: 0.7vw;
  font-size: 1.3vw;
}

.title-box {
  width: 100%;
  height: 2.4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-box-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-description {
  padding-top: 0.9vw;
  font-size: 1.3vw;
  width: 70%;
  padding-left: 1vw;
  text-indent: -1vw;
}

.personal-description {
  padding-top: 0.7vw;
  font-size: 1.3vw;
  width: 100%;
  text-align: justify;
  line-height: 3vw;
}

.pButton {
  height: 2.5vw;
  width: 17.9%;
  display: flex;
  margin-top: 2vw;
  text-decoration: none !important;
}

.pButtonText {
  height: 100%;
  flex: 0.75;
  background: rgb(54, 0, 114);
  background: linear-gradient(
    90deg,
    rgba(54, 0, 114, 1) 0%,
    rgba(66, 0, 75, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9vw;
  color: white;
  font-family: "SansSerifBookFLF Medium";
  padding-top: 0.2vw;
}

.pButtonimage {
  height: 100%;
  flex: 0.25;
  background-color: #33a1ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.motorsport-button-icon {
  width: 80%;
}

.github-button-icon {
  font-size: 1.6vw;
}

.certificate-button-icon {
  width: 60%;
}

.qrCodeExpo {
  width: 100%;
  padding-top: 22vw;
}

.appPic {
  margin-top: 4vw;
  height: 35vw;
}

.skills-text {
  font-size: 1.3vw;
}

.uoaLogo {
  width: 15vw;
  height: 5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./Assets/uoa.png);
}

.nelsonCollegeLogo {
  width: 4.5vw;
  height: 6vw;
  margin-top: 4.5vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(./Assets/nelsoncollegeLogo.png);
}

.top-one-normal {
  font-size: 1.3vw;
}

.top-two {
  font-size: 2.5vw;
}

.bottom-left {
  flex: 0.63;
}

.bottom-right {
  flex: 0.37;
}

.bottom-sides {
  flex: 0.5;
}

body {
  opacity: 1;
  transition: 1s opacity;
}

body.fade {
  opacity: 0;
  transition: none;
}

.backToTop {
  position: fixed;
  top: 86%;
  right: 8%;
  cursor: pointer;
  display: none;
  z-index: 39;
}

.toBottom {
  position: fixed;
  top: 77%;
  right: 8%;
  cursor: pointer;
  z-index: 39;
}

.frontLeftPic {
  height: 100% !important;
  flex: 0.405;
  overflow: hidden;
  background-image: url("./Assets/BACKDROP_DESIGN_VECTOR_16/Ultra\ Violet\ Galactic\ Background\ Free\ Vector.jpg");
  background-size: auto 100%;
  background-position: 5%;
}

.frontRightPic {
  background-color: #ededed;
  flex: 0.595;
  transition: 0.5s;
}

.myPic {
  height: 72.8%;
  background-position: center;
  background-image: url("./Assets/2.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.frontRightPic p {
  font-size: 1.1vw;
  letter-spacing: 0.29px;
  line-height: 4.5vh;
}

.cvButton {
  height: 6.5%;
  width: 18.122%;
  margin: 2% 0px 0px 4.8%;
  background-color: #2a3344;
  text-decoration: none !important;
}

.cvButton p {
  font-size: 1.15vw;
}

.catchUp {
  margin-top: 3vw;
  width: 37%;
  height: 7.5%;
  transition: 0.3s;
}

.catchUp:hover {
  background-color: white;
  color: black;
}

.catchUpInside {
  border-style: solid;
  border-width: 2px;
  border-color: white;
  cursor: pointer;
  padding-top: 0.1vw;
  font-size: 1.1vw;
}

.scrollDown {
  position: absolute;
  left: 36.59vw;
  top: 30vw;
  z-index: 10;
  cursor: pointer;
}

.scrollDown div {
  font-size: 5.7vw;
}

.scrollDown i {
  font-size: 2vw;
}

.iconsFront {
  padding-top: 3vw;
  word-spacing: 2.2vw;
}

.iconsFront a i {
  font-size: 1.8vw;
}

.skill-set {
  margin-top: 1vw;
  height: 4px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes animation {
  100% {
    opacity: 1;
    width: 100%;
  }
}

.skill-set.animate {
  animation: animation 1s forwards;
}

.conMes {
  font-size: 6vw;
  line-height: 7vw;
  padding-top: 1.5vh;
}

.contact-list {
  width: 16vw;
  height: 2.5vw;
  margin-bottom: 1vw;
}

.viewRes {
  border-width: 0.1vw;
  border-style: solid;
  border-color: white;
  font-size: 1vw;
  padding-top: 0.15vw;
  text-decoration: none;
}

.viewRes:hover {
  text-decoration: none;
  color: black;
  background-color: white;
  transition: 0.3s;
}

.bottomMessage {
  font-size: 1vw;
  letter-spacing: 0.06vw;
}

.inputName {
  width: 22vw;
  color: white;
  font-family: "SansSerifBookFLF Medium";
  font-size: 1.1vw;
  letter-spacing: 0.05vw;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.gapBetweenInputLine {
  height: 0.3vw;
  width: 22vw;
}

.inputLine {
  width: 22vw;
  height: 0.05vw;
  margin-left: -0.2vw;
  background-color: white;
}

.message {
  background: transparent;
  border: 0 none;
  resize: none;
  color: white;
  font-family: "SansSerifBookFLF Medium";
  font-size: 1.1vw;
  outline: none;
}

.submitButton {
  height: 2.4vw;
  width: 9vw;
  border-radius: 20vw;
  border: 0 none;
  background-color: #f2c477;
  color: #212121;
  font-family: "SansSerifFLF Demibold";
  font-size: 1vw;
  padding-top: 0.23vw;
}

.submitButton:hover {
  background-color: #e7b867;
}

.submitButton:focus {
  outline: none;
  box-shadow: none;
}

.bottomLink {
  font-size: 1.1vw;
  letter-spacing: 0.05vw;
}

.bottomEles {
  font-size: 1vw;
  letter-spacing: 0.05vw;
  text-decoration: none !important;
}

.car-scroll-height {
  height: 17vw;
}

.car-scroll-wrapper {
  width: 97.5vw;
  height: 25vw;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  padding: 1%;
  position: absolute;
  left: 0;
  cursor: pointer;
}

.scroll-car {
  border-radius: 20px;
  width: 40vw;
  flex: 0 0 auto;
  margin-left: 2vw;
  overflow: hidden;
}

.scroll-car img {
  height: 100%;
  width: auto;
  filter: grayscale(36%) sepia(19%) saturate(86%) opacity(92%) contrast(115%);
  -webkit-filter: grayscale(36%) sepia(19%) saturate(86%) opacity(92%)
    contrast(115%);
  -moz-filter: grayscale(36%) sepia(19%) saturate(86%) opacity(92%)
    contrast(115%);
}

.scroll-car img.width {
  width: 100% !important;
  height: auto !important;
}

.dimond {
  margin-left: 0.4vw;
  margin-right: 2.6vw;
  margin-bottom: 0.5vw;
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("./Assets/sfondo-astratto-colorato-con-elementi-di-memphis/dimond.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.wave {
  top: -15vw;
  left: 0.4vw;
}

.album-cover {
  position: absolute;
  bottom: 0;
  width: 3vw;
  border-radius: 5px;
}
