.m_mobile {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.m_s1 {
  height: 105vh;
  display: flex;
  flex-direction: column;
}

.m_s2 {
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 10vw;
  color: #212121;
  font-family: "SansSerifFLF Demibold";
}

.m_s3 {
  height: 435vw;
  background-image: url("./Assets/sfondo-astratto-colorato-con-elementi-di-memphis/mobileForWebsite.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 69% 0%;
  -webkit-box-shadow: 0px -11px 55px -15px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px -11px 55px -15px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -11px 55px -15px rgba(0, 0, 0, 0.75);
}

.m_BackToTopAndMenu {
  position: fixed;
  height: 30vw;
  width: 15vw;
  right: 0vw;
  bottom: 0vw;
  z-index: 5;
  transition: 0.2s ease-in-out;
}

.m_FixedBarMenu {
  width: 100%;
  height: 15vw;
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_FixedBarBackToTop {
  width: 100%;
  height: 15vw;
  background-color: #ff2121;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_topBar {
  position: fixed;
  z-index: 2;
  top: -135vw;
  height: 135vw;
  width: 100%;
  background-color: #2a3344;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

.m_fixedHam {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 1;
}

.m_topBarLinks {
  font-size: 5.5vw;
  font-family: "SansSerifFLF Demibold";
  color: white;
  z-index: 1;
  padding-top: 9vw;
}

.m_close {
  position: absolute;
  top: 9vw;
  right: 8%;
  z-index: 1;
}

.m_botCV {
  position: absolute;
  bottom: 18vw;
  height: 18vw;
  width: 100%;
  background: rgb(54, 0, 114);
  background: linear-gradient(
    90deg,
    rgba(54, 0, 114, 1) 0%,
    rgba(66, 0, 75, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "SansSerifFLF Demibold";
  font-size: 5vw;
}

.m_botContact {
  position: absolute;
  bottom: 0vw;
  height: 18vw;
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.m_bCLeft {
  flex: 0.5;
  background-color: #0072b1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_bCRight {
  flex: 0.5;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_topPic {
  flex: 0.55;
  background-image: url("./Assets/2.JPG");
  background-size: cover;
  background-position: center;
}

.m_botPic {
  flex: 0.45;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
}

.m_topGradient {
  position: relative;
  top: 0%;
  width: 100%;
  height: 30%;
  background-image: linear-gradient(
    180deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(97, 97, 97, 0.01) 100%
  );
}

.m_botGradient {
  position: relative;
  top: 30%;
  width: 100%;
  height: 40%;
  background-image: linear-gradient(
    0deg,
    rgba(50, 50, 50, 1) 0%,
    rgba(97, 97, 97, 0.01) 100%
  );
}

.m_botMesCon {
  flex: 0.75;
  /* background-color: chocolate; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_botMes {
  width: 90%;
  height: 85%;
  font-size: 5vw;
  font-family: "SansSerifFLF Demibold";
  text-align: justify;
  letter-spacing: 0.29px;
  line-height: 8vw;
}

.m_vCVB {
  flex: 0.25;
  /* background-color: cornflowerblue; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_myName {
  position: absolute;
  font-size: 10vw;
  top: 40vh;
  left: 6.6%;
  font-family: "SansSerifBldFLF Medium";
  color: white;
}

.m_myQuote {
  position: absolute;
  font-size: 4.5vw;
  top: 48vh;
  left: 7%;
  font-family: "SansSerifBldFLF Medium";
  color: white;
}

.m_myMajor {
  position: absolute;
  font-size: 4.5vw;
  top: 53vh;
  left: 7%;
  font-family: "SansSerifFLF Demibold";
  color: white;
}

.m_cvButton {
  margin-bottom: 4vw;
  height: 65%;
  width: 90%;
  background-color: #2a3344;
  -webkit-box-shadow: 11px 10px 12px -8px rgba(173, 173, 173, 1);
  -moz-box-shadow: 11px 10px 12px -8px rgba(173, 173, 173, 1);
  box-shadow: 11px 10px 12px -8px rgba(173, 173, 173, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_catUp {
  padding-top: 4.5vw;
  color: white;
  font-size: 5vw;
  font-family: "SansSerifFLF Demibold";
}

.m_padTop {
  width: 100%;
  height: 1%;
}

.m_s2 p {
  /* position: relative; */
  /* top: 1.04%; */
  font-size: 7vw;
}

.m_breakLine {
  height: 0vw;
  width: 100%;
  border-bottom: 1.5px solid #212121;
}

.m_belowBr {
  height: 5vw;
  width: 100%;
}

.m_bothSides {
  width: 100%;
  height: 2.4vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.m_info {
  padding-top: 0.7vw;
  font-size: 5vw;
  width: 100%;
  padding-left: 4vw;
  text-indent: -4vw;
  text-align: justify;
}

.m_pButton {
  height: 15vw;
  width: 100%;
  background-color: khaki;
  display: flex;
  margin: 7vw auto;
}

.m_pButtonText {
  height: 100%;
  flex: 0.75;
  background: rgb(54, 0, 114);
  background: linear-gradient(
    90deg,
    rgba(54, 0, 114, 1) 0%,
    rgba(66, 0, 75, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 5vw;
  color: white;
  font-family: "SansSerifFLF Demibold";
  padding-top: 0.2vw;
}

.m_pButtonimage {
  height: 100%;
  flex: 0.25;
  background-color: #33a1ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.m_appPic {
  scroll-snap-type: x mandatory;
  margin-top: 7vw;
  width: 100%;
  height: 140vw;
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
}
.m_picBox {
  width: 80%;
  flex-shrink: 0;
  height: 100%;
}

.m_pGPic {
  margin-top: 2.5vw;
  width: 100%;
  height: 170vw;
  background-image: url("./Assets/UoA-PG-2019Logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 46%;
}

.m_schoolLogo {
  width: 60vw;
  height: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3vw;
}

.m_Javascript {
  margin-top: 1vw;
  height: 3px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes animation {
  100% {
    opacity: 1;
    width: 50%;
  }
}

#m_Javascript.animate {
  animation: animation 1s forwards;
}

.m_Python {
  margin-top: 1vw;
  height: 3px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes Python {
  100% {
    opacity: 1;
    width: 75%;
  }
}

#m_Python.animate {
  animation: Python 1s forwards;
}

.m_Typescript {
  margin-top: 1vw;
  height: 3px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes Typescript {
  100% {
    opacity: 1;
    width: 25%;
  }
}

#m_Typescript.animate {
  animation: Typescript 1s forwards;
}

.m_React {
  margin-top: 1vw;
  height: 3px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes React {
  100% {
    opacity: 1;
    width: 50%;
  }
}

#m_React.animate {
  animation: React 1s forwards;
}

.m_Adobe {
  margin-top: 1vw;
  height: 3px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes Adobe {
  100% {
    opacity: 1;
    width: 75%;
  }
}

#m_Adobe.animate {
  animation: Adobe 1s forwards;
}

.m_AWS {
  margin-top: 1vw;
  height: 3px;
  background-color: #ff3333;
  opacity: 0.5;
  width: 0%;
}

@keyframes AWS {
  100% {
    opacity: 1;
    width: 12.5%;
  }
}

#m_AWS.animate {
  animation: AWS 1s forwards;
}

.m_conMes {
  font-family: "SansSerifBldFLF Medium";
  color: white;
  font-size: 18vw;
  width: 80%;
  position: relative;
  top: 17vw;
  left: 7.2vw;
  line-height: 22vw;
}

.m_contactList {
  margin-top: 8vw;
  width: 100%;
  height: 13.5vw;
  display: flex;
  justify-content: space-between;
}

.m_viewRes {
  border-width: 0.6vw;
  border-style: solid;
  border-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: "SansSerifFLF Demibold";
  font-size: 5vw;
  padding-top: 0.15vw;
  text-decoration: none;
}

.m_viewRes:hover {
  text-decoration: none;
  color: white;
}

.m_viewRes:visited {
  text-decoration: none;
  color: white;
}

.bottomMessage {
  position: absolute;
  color: white;
  font-family: "SansSerifBookFLF Medium";
  font-size: 1vw;
  position: relative;
  left: 7.2vw;
  top: 29vh;
  letter-spacing: 0.06vw;
}

.contactInfo {
  position: absolute;
  top: 43vh;
  display: flex;
  flex-direction: row;
}

.m_rightBottom {
  width: 87%;
  height: 100px;
  margin: 0 auto;
}

.m_inputName {
  width: 100%;
  color: white;
  font-family: "SansSerifFLF Demibold";
  font-size: 5vw;
  letter-spacing: 0.05vw;
  margin-top: 15vw;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

.m_gapBetweenInputLine {
  height: 0vw;
  width: 100%;
}

.m_inputLine {
  width: 100%;
  height: 0.3vw;
  margin-left: 0vw;
  background-color: white;
}

.m_message {
  width: 100%;
  background: transparent;
  border: 0 none;
  resize: none;
  color: white;
  font-family: "SansSerifFLF Demibold";
  font-size: 4.5vw;
  outline: none;
}

.m_submitButton {
  height: 12vw;
  width: 100%;
  border-radius: 20vw;
  border: 0 none;
  background-color: #f2c477;
  color: #212121;
  font-family: "SansSerifFLF Demibold";
  font-size: 5vw;
  padding-top: 0.25vw;
}

.m_submitButton:hover {
  background-color: #e7b867;
}

.m_submitButton:focus {
  outline: none;
  box-shadow: none;
}

.m_botCont {
  padding-top: 10vw;
  color: white;
  font-size: 6vw;
  font-family: "SansSerifBldFLF Medium";
}

.m_botContInfo {
  padding-top: 4vw;
  color: white;
  font-size: 5vw;
  font-family: "SansSerifFLF Demibold";
}

.m_dimond {
  margin-right: 6vw;
  position: relative;
  top: -61vw;
  left: 7.7vw;
  height: 4vw;
  width: 4vw;
  background-image: url("./Assets/sfondo-astratto-colorato-con-elementi-di-memphis/dimond.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.m_wave {
  margin-right: 3vw;
  position: relative;
  top: -36vw;
  left: 7.55vw;
  height: 4vw;
  width: 22vw;
  background-image: url("./Assets/sfondo-astratto-colorato-con-elementi-di-memphis/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
}
