@media only screen and (max-width: 575.98px) {
  .main {
    width: 100%;
  }

  .s1 {
    height: 120vw;
  }

  .s2 {
    margin-left: 3%;
    margin-right: 3%;
  }

  .s3 {
    height: 190vw;
  }

  .big-title {
    font-size: 7vw;
  }

  .medium-title {
    padding-top: 3vw;
    font-size: 6.5vw;
  }

  .gap {
    width: 100%;
    height: 7vw;
  }

  .job-title {
    font-size: 6.5vw;
  }

  .date-range {
    padding-top: 0vw;
    font-size: 4.5vw;
  }

  .job-description {
    font-size: 5vw;
    width: 100%;
  }

  .pButton {
    height: 14vw;
    width: 100%;
  }

  .pButtonText {
    font-size: 5vw;
  }

  .motorsport-button-icon {
    width: 55%;
  }

  .github-button-icon {
    font-size: 8vw;
  }

  .certificate-button-icon {
    width: 40%;
  }

  .appPic {
    scroll-snap-type: x mandatory;
    height: 135vw;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  .picBox {
    flex-shrink: 0;
    max-width: 80%;
  }

  .skills-text {
    font-size: 5.5vw;
  }

  .uoa-pg-2019 {
    height: 200vw;
    object-position: 47%;
    object-fit: cover;
  }

  .personal-description {
    font-size: 5vw;
    line-height: 7.5vw;
  }

  .uoaLogo {
    width: 60vw;
    height: 20vw;
  }

  .nelsonCollegeLogo {
    width: 15vw;
    height: 20vw;
  }

  .school-title {
    font-size: 5vw;
  }

  .school-small-text {
    font-size: 4vw;
  }

  .frontLeftPic {
    flex: 0;
  }

  .frontRightPic {
    flex: 1;
  }

  .myPic {
    height: 100%;
  }

  .top-gradient {
    height: 30%;
    background-image: linear-gradient(
      180deg,
      rgba(50, 50, 50, 1) 0%,
      rgba(97, 97, 97, 0.01) 100%
    );
  }

  .bottom-gradient {
    top: 30%;
    height: 40%;
    background-image: linear-gradient(
      0deg,
      rgba(50, 50, 50, 1) 0%,
      rgba(97, 97, 97, 0.01) 100%
    );
  }

  .top-two {
    position: absolute;
    top: 96.8vw;
    left: 7%;
    font-size: 7vw;
    z-index: 999;
  }

  .top-three {
    position: absolute;
    top: 82vw;
    font-size: 10vw;
    left: 6.6%;
    z-index: 999;
  }

  .my-major-mobile {
    top: 109vw;
    left: 7%;
    letter-spacing: 0.15vw;
    font-size: 4.5vw !important;
  }

  .summary-for-responsive {
    padding-top: 5vw;
    font-size: 5vw;
    background-color: #ededed;
  }

  .personal-introduction {
    width: 90%;
    line-height: 8vw;
  }

  .summary-for-responsive a {
    height: 15.5vw;
    width: 85vw;
    background-color: #2a3344;
    text-decoration: none !important;
  }

  .summary-for-responsive a p {
    font-size: 5vw;
    padding-right: 1vw;
    margin: auto;
  }

  .conMes {
    font-size: 11vw;
    padding-top: 10vw;
  }

  .contact-for-responsive {
    font-size: 6vw;
  }

  .fa-angle-right {
    top: 2.8px;
  }

  .contact-header-for-mobile {
    padding-top: 10vw;
    font-size: 6vw;
  }

  .fas {
    text-decoration: none !important;
  }

  .contact-info-for-mobile {
    padding-top: 4vw;
    font-size: 5vw;
  }

  .contact-list-for-mobile {
    margin-top: 8vw;
    height: 13.5vw;
  }

  .footer-button {
    border-width: 0.6vw;
    border-style: solid;
    border-color: white;
    font-size: 5vw;
    padding-top: 0.15vw;
    text-decoration: none !important;
  }

  .footer-button:hover {
    text-decoration: none !important;
    color: white;
  }

  .footer-button:visited {
    text-decoration: none !important;
    color: white;
  }

  .mobile-util-menu {
    position: fixed;
    height: 30vw;
    width: 15vw;
    right: 0vw;
    bottom: 0vw;
    z-index: 5;
    transition: 0.2s ease-in-out;
  }

  .mobile-menu {
    height: 15vw;
    background-color: #212121;
  }

  .mobile-back-to-top {
    height: 15vw;
    background-color: #ff2121;
  }

  .hambuger-menu,
  .hambuger-menu-close {
    position: absolute;
    top: 2.7%;
    left: 90%;
    color: white;
    font-size: 3.5vw;
    z-index: 1999;
  }

  .hambuger-menu[aria-expanded="true"] + .full-screen-menu {
    left: 0%;
  }

  .full-screen-menu {
    background-color: #2a3344;
    z-index: 99999;
    left: 100%;
    transition: 0.3s ease-in-out;
  }

  .full-screen-menu-item {
    font-size: 5.5vw;
    z-index: 1;
    padding-top: 9vw;
  }

  .full-screen-menu-button {
    height: 14vw;
    background: rgb(54, 0, 114);
    background: linear-gradient(
      90deg,
      rgba(54, 0, 114, 1) 0%,
      rgba(66, 0, 75, 1) 100%
    );
    font-size: 5vw;
    border-radius: 50px;
  }

  .intro-description {
    display: none;
  }

  .desktop-intro-description {
    display: none;
  }
}

@media only screen and (min-width: 575.99px) and (max-width: 1199.98px) {
  .main {
    width: 100%;
  }

  .s1 {
    height: 55vw;
  }

  .s2 {
    margin-left: 7%;
    margin-right: 7%;
  }

  .s3 {
    height: 40vw;
  }

  .myPic {
    height: 100%;
  }

  .frontLeftPic {
    flex: 0.43;
  }

  .frontRightPic {
    flex: 0.57;
  }

  .big-title {
    font-size: 3.5vw;
  }

  .medium-title {
    padding-top: 4vw;
    font-size: 2.5vw;
  }

  .title-box {
    height: 4vw;
  }

  .job-title {
    font-size: 2.5vw;
  }

  .text-nowrap-tablet {
    white-space: nowrap;
  }

  .date-range {
    padding-top: 0vw;
    font-size: 1.9vw;
  }

  .job-description {
    font-size: 2vw;
    width: 75%;
  }

  .job-description-app {
    width: 60% !important;
  }

  .pButton {
    height: 4.5vw;
    width: 25%;
    font-size: 5vw;
  }

  .pButtonText {
    font-size: 1.7vw;
    padding-top: 0.2vw;
  }

  .qrCodeExpo {
    padding-top: 32vw;
  }

  .appPic {
    margin-top: 12vw;
  }

  .motorsport-button-icon {
    width: 70%;
  }

  .github-button-icon {
    font-size: 2.9vw;
  }

  .skills-text {
    font-size: 2.1vw;
  }

  .personal-description {
    font-size: 2.3vw;
    line-height: 4vw;
  }

  .uoaLogo {
    width: 25vw;
    height: 9vw;
  }

  .nelsonCollegeLogo {
    width: 7.5vw;
    height: 10vw;
  }

  .school-title {
    font-size: 2.2vw;
  }

  .school-small-text {
    font-size: 2vw;
  }

  .top-one-normal {
    font-size: 2.2vw;
  }

  .top-three {
    font-size: 6.2vw;
    white-space: nowrap;
    z-index: 999;
  }

  .frontLeftPic {
    background-position: 100%;
  }

  .scrollDown {
    position: absolute;
    left: 90vw;
    top: 45vw;
    z-index: 10;
  }

  .scrollDown div {
    font-size: 7vw;
  }

  .scrollDown i {
    font-size: 2.5vw;
  }

  .catchUp {
    width: 25vw;
    height: 6vw;
    margin: auto;
  }

  .catchUpInside {
    font-size: 2vw;
  }

  .iconsFront {
    margin: auto;
    word-spacing: 5vw;
  }

  .iconsFront a i {
    font-size: 3vw;
  }

  .summary-for-responsive {
    padding-top: 2vw;
    height: 25vw;
    font-size: 2vw;
    background-color: #ededed;
    z-index: 10;
  }

  .personal-introduction {
    width: 75%;
    line-height: 4vw;
  }

  .summary-for-responsive a {
    top: -14vw;
    left: 78vw;
    height: 5vw;
    width: 14vw;
    background-color: #2a3344;
    text-decoration: none !important;
  }

  .summary-for-responsive a p {
    font-size: 2vw;
    margin-top: 1.7vw;
  }

  .conMes {
    font-size: 4vw;
    padding-top: 2vw;
  }

  .bottomEles {
    font-size: 1.7vw;
    font-family: "SansSerifFLF Demibold";
  }

  .contact-for-responsive {
    font-size: 2vw;
  }

  .bottomMessage {
    font-size: 1.5vw;
  }

  .contact-for-tablet {
    padding-bottom: 10vw;
  }

  .copyright-for-tablet {
    position: absolute;
    left: 5vw;
    padding-top: 8vw;
  }
  .contact-list {
    position: absolute;
    width: 29vw;
    height: 5vw;
    margin-left: 8vw;
    margin-bottom: 20vw;
  }

  .viewRes {
    font-size: 1.7vw;
  }

  .website-icon-for-tablet {
    margin-top: 7vw;
    margin-left: 25vw;
    font-size: 1.8vw;
  }

  .fa-angle-right {
    top: 1.21px;
  }

  .mobile-util-menu {
    position: fixed;
    height: 12vw;
    width: 6vw;
    right: 0vw;
    bottom: 5vw;
    z-index: 5;
    transition: 0.2s ease-in-out;
  }

  .mobile-menu {
    height: 6vw;
    background-color: #212121;
  }

  .mobile-back-to-top {
    height: 6vw;
    background-color: #ff2121;
  }

  .hambuger-menu {
    position: absolute;
    top: 2vw;
    left: 40vw;
    z-index: 999;
  }

  .hambuger-menu-close {
    position: absolute;
    top: 3vw;
    left: 95vw;
  }

  .hambuger-menu[aria-expanded="true"] + .full-screen-menu {
    left: 0%;
  }

  .full-screen-menu {
    background-color: #2a3344;
    z-index: 99999;
    left: 100%;
    transition: 0.3s ease-in-out;
  }

  .full-screen-menu-item {
    font-size: 3vw;
    z-index: 1;
    padding-top: 3vw;
  }

  .full-screen-menu-button {
    height: 5vw;
    width: 20vw !important;
    background: rgb(54, 0, 114);
    background: linear-gradient(
      90deg,
      rgba(54, 0, 114, 1) 0%,
      rgba(66, 0, 75, 1) 100%
    );
    font-size: 1.7vw;
    border-radius: 50px;
  }

  .skills-svg img {
    width: 70%;
  }

  .skills-name {
    margin-top: 2vw;
    font-size: 1.4vw;
  }

  .intro-description {
    line-height: 5vw;
  }

  .desktop-intro-description {
    display: none;
  }
}

@media only screen and (min-width: 1199.99px) {
  .main {
    width: calc(100% - 2.5vw) !important;
  }

  .s1 {
    height: 100vh;
  }

  .top-three {
    font-size: 8.35vw;
    white-space: nowrap;
    position: absolute;
    top: 10vw;
    z-index: 9999;
  }

  .fade-button {
    font-size: 3.5vw;
  }

  .fade-button-indicator {
    font-size: 1.4vw;
  }

  .full-screen-menu-title {
    font-size: 1.5vw;
  }

  .full-screen-menu-item {
    padding-top: 1.6vw;
    font-size: 1.3vw;
  }

  .full-screen-menu-item:hover {
    color: rgb(179, 179, 179);
    transition: 0.15s;
    cursor: pointer;
  }

  .full-screen-menu-button {
    height: 2.5vw;
    width: 15vw;
    background: rgb(54, 0, 114);
    background: linear-gradient(
      90deg,
      rgba(54, 0, 114, 1) 0%,
      rgba(66, 0, 75, 1) 100%
    );
    font-size: 1vw;
    border-radius: 50px;
    text-decoration: none !important;
  }

  .skills-svg img {
    width: 45%;
  }

  .my-skill:hover {
    background-color: #fafafa;
  }

  .mobile-intro-description {
    display: none;
  }

  /* Arrow */
  .arrow-wrapper {
    position: absolute;
    top: 145vh;
    left: 70vw;
    width: 10vw;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
  }

  .arrow .curve {
    border: 2px solid #be5f4b;
    border-color: transparent transparent transparent #be5f4b;
    height: 360px;
    width: 1200px;
    border-radius: 230px 0 0 150px;
  }

  .arrow .point {
    position: absolute;
    left: 40px;
    top: 315px;
  }

  .arrow .point:before,
  .arrow .point:after {
    border: 1px solid #be5f4b;
    height: 25px;
    content: "";
    position: absolute;
  }

  .arrow .point:before {
    top: -11px;
    left: -11px;
    transform: rotate(-74deg);
    -webkit-transform: rotate(-74deg);
    -moz-transform: rotate(-74deg);
    -ms-transform: rotate(-74deg);
  }

  .arrow .point:after {
    top: -20px;
    left: 5px;
    transform: rotate(12deg);
    -webkit-transform: rotate(12deg);
    -moz-transform: rotate(12deg);
    -ms-transform: rotate(12deg);
  }
}
